body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ++++++++++++++++++++ HOME PAGE +++++++++++++++++++++++++*/
.home-container {
	max-width: 1200px;
	margin: 30px auto;
	text-align: center;
}
.bottom-container {
	display: flex;
}

.navbar {
	list-style: none;
	display: flex;
	justify-content: center;
}

.header {
	font-size: 50px;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 400;
}

.nav-item a {
	padding-right: 150px;
	font-size: 20px;
	text-decoration: none;
	font-family: "Open Sans Condensed", sans-serif;
	color: grey;
}

.nav-item a:hover {
	cursor: pointer;
	color: #30475e;
}

.logout-button:hover {
	cursor: pointer;
	color: #30475e;
}
.logout-button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	font-size: 20px;
	text-decoration: none;
	font-family: "Open Sans Condensed", sans-serif;
	color: grey;
}

.greet-user {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: capitalize;
	font-size: 50px;
	font-family: "Source Sans Pro", sans-serif;
}

.post-title {
	font-size: 30px;
	text-align: left;
	padding: 10px;
	font-family: "Source Sans Pro", sans-serif;
}

.background-image-container {
	display: block;
	margin-top: 20px;
	font-family: "Cormorant Garamond", serif;
	color: white;
	text-align: center;
	position: relative;
	background-image: -webkit-linear-gradient(
			rgba(48, 71, 94, 0.3),
			rgba(32, 32, 64, 0.3)
		),
		url("/img/background-header.jpg");
	background-image: -o-linear-gradient(
			rgba(48, 71, 94, 0.3),
			rgba(32, 32, 64, 0.3)
		),
		url("/img/background-header.jpg");
	background-image: linear-gradient(
			rgba(48, 71, 94, 0.3),
			rgba(32, 32, 64, 0.3)
		),
		url("/img/background-header.jpg");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	opacity: 0.8;
	width: 100%;
	height: 80vh;
}

/* ++++++++++++++++++++ POSTS +++++++++++++++++++++++++*/
.posts {
	width: 70%;
	height: 700px;
	overflow: hidden;
	overflow-y: scroll;
}

.posts::-webkit-scrollbar {
	width: 0 !important;
}
.post-container {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	margin-bottom: 30px;
	height: 250px;
	border-radius: 25px;
}

.country {
	font-size: 25px;
	padding-left: 5px;
	font-family: "Barlow Condensed", sans-serif;
}

.description {
	font-size: 20px;
	overflow-y: hidden;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	padding: 5px;
	font-family: "Open Sans Condensed", sans-serif;
	letter-spacing: 1px;
}

.description-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
}

.mini-name {
	margin-top: 10px;
}

.mini-name a {
	text-decoration: none;
	font-size: 20px;
	text-transform: capitalize;
	font-style: italic;
	padding: 5px;
	font-family: "Barlow Condensed", sans-serif;
	color: black;
}

img.profile-img-sm:hover,
a.name-of-user:hover {
	transform: scale(1.2);
	cursor: pointer;
}

img.profile-img-sm {
	height: 40px;
	width: 40px;
	border-radius: 100%;
	margin-right: 20px;
	padding-left: 5px;
}

.image-container img {
	height: 250px;
	width: 300px;
	border-radius: 25px;
}

.mini-data {
	display: flex;
}

/* ++++++++++++++++++++ TESTIMONIES +++++++++++++++++++++++++*/
.testimonies {
	background-color: black;
	color: white;
	width: 30%;
	height: 550px;
	margin-top: 90px;
	border-radius: 25px;
	position: sticky;
	text-align: left;
	padding: 20px;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

.testimony-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.testimony-content {
	font-size: 30px;
	font-family: "Barlow Condensed", sans-serif;
}

.testimony-name {
	color: orange;
	font-size: 18px;
	text-transform: capitalize;
	font-style: italic;
	font-family: "Open Sans Condensed", sans-serif;
}

/* ++++++++++++++++++++ Sign Up +++++++++++++++++++++++++*/
.signup-page {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url("./img/background-signup.jpg") no-repeat center center fixed;
}

.signup-box {
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #a4c5c6;
	text-align: center;
	border-radius: 20px;
	opacity: 0.96;
	font-family: "Barlow Condensed", sans-serif;
}

.signup-box input[type="text"],
.signup-box input[type="password"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ffffff;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

.signup-box input[type="submit"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ffffff;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-family: "Barlow Condensed", sans-serif;
}

.signup-box input[type="file"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ffffff;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.signup-box input[type="file"]:hover {
	background: #588da8;
}

.signup-box input[type="submit"]:hover {
	background: #588da8;
}

/* ++++++++++++++++++++ Login +++++++++++++++++++++++++*/
.login-page {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url("./img/background-login.jpg") no-repeat center center fixed;
}

.login-box {
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #a4c5c6;
	text-align: center;
	border-radius: 20px;
	opacity: 0.96;
	font-family: "Barlow Condensed", sans-serif;
}

.login-box h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.login-box input[type="text"],
.login-box input[type="password"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ffffff;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.login-box input[type="text"]:focus,
.login-box input[type="password"]:focus {
	width: 280px;
	border-color: #ffe8df;
}

.login-box input[type="submit"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ffffff;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.login-box input[type="submit"]:hover {
	background: #588da8;
}

/* ++++++++++++++++++++ EXPERIENCES FORM +++++++++++++++++++++++++*/
.experiences-page {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url("./img/background-experiences.jpg") no-repeat center center
		fixed;
}

.experiences-box {
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #a4c5c6;
	text-align: center;
	border-radius: 20px;
	opacity: 0.96;
	font-family: "Barlow Condensed", sans-serif;
}

.experiences-box h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.experiences-box input[type="text"],
.experiences-box textarea[type="text"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ffffff;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.experiences-box input[type="text"]:focus,
.experiences-box input[type="password"]:focus {
	width: 280px;
	border-color: #ffe8df;
}

.experiences-box input[type="submit"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ffffff;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.experiences-box input[type="file"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ffffff;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.experiences-box input[type="file"]:hover {
	background: #588da8;
}

.experiences-box input[type="submit"]:hover {
	background: #588da8;
}

/* ++++++++++++++++++++ Profile +++++++++++++++++++++++++*/
.profile-page {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url("./img/background-profile.jpg") no-repeat center center fixed;
}

.profile-container {
	height: 85vh;
	width: 85%;
	margin: 0 auto;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.profile-data {
	background-color: #85a392;
	width: 35%;
	text-align: center;
	border-radius: 25px 0 0 25px;
	opacity: 0.95;
}

.user-post {
	background-color: #f0f0f0;
	width: 65%;
	border-radius: 0 25px 25px 0;
	opacity: 0.9;
	overflow: hidden;
	overflow-y: scroll;
}

img.profile-picture {
	height: 350px;
	width: 60%;
	margin-top: 100px;
	border-radius: 25px;
}

.profile-content {
	text-align: center;
	padding: 30px;
}

.profile-post {
	display: flex;
	text-align: center;
	justify-content: space-between;
	margin: 30px;
	font-family: "Source Sans Pro", sans-serif;
	text-align: left;
}

.profile-post .visited-country {
	padding: 20px auto;
}

.profile-text-container {
	padding-top: 20px;
	padding-left: 50px;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

.profile-text-container .travel-description {
	font-size: 18px;
}

.profile-text-container .visited-country {
	text-align: left;
	font-size: 30px;
}

.travel-img {
	height: 270px;
	width: 300px;
	border-radius: 25px;
}

.profile-name {
	font-size: 40px;
	text-transform: capitalize;
	font-family: "Barlow Condensed", sans-serif;
}

input.followed-posts-button,
input.follow-button {
	background: none;
	border: none;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 100px;
	transition: all 0.2s;
	position: relative;
	background-color: white;
	color: #777;
}
input.followed-posts-button:hover,
input.follow-button:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

/* ++++++++++++++++++++ Followed POSTS +++++++++++++++++++++++++*/

.followed-posts {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url("./img/background-followed-posts.jpg") no-repeat center center
		fixed;
}

/*
	Photo by Anthony DELANOIX on Unsplash background-signup.jpg
	Photo by André Filipe on Unsplash background-login.jpg
	Photo by Thomas Tucker on Unsplash background-experiences.jpg
	Photo by Arnaud STECKLE on Unsplash background-profile.jpg
	Photo by Sven Scheuermeier on Unsplash

*/
